* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 18, 18);
}

nav {
    display: flex;
    height: 50px;
    background-image: linear-gradient(black 65%, transparent);
    padding: 10px;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    align-content: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-left {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-left:hover {
    transform: scale(1.06);
}

.nav-left img {
    width: 160px;
    height: 25px;
    background-color: transparent;
}

nav div {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:550px;
}

.nav-l {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 35px;
    height: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: center;
    position: relative;
}

.nav-l>div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-l .shows {
    align-items: center;
    position: relative;
}

.shows:hover .drop {
    display: flex;
    flex-direction: column;
}

.movies:hover .drop {
    display: flex;
    flex-direction: column;
}

.nav-l .drop {
    position: absolute;
    top: 3vh;
    background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.47) 0%, rgba(18, 18, 18, 0.81) 96%);
    display: none;
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px 0 rgb(255 255 255 / 33%);
    gap: 20px;
    padding-top: 20px;
    backdrop-filter: blur(10px);

}

.nav-r {
    align-items: center;
    height: 100%;
    font-size: 19px;
    gap: 30px;

}

.menu-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    
}

.menu-bar:hover .menu-drop {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-drop {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 30px;
    right: -10px;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 280px;
    gap: 10px;
    background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.47) 0%, rgba(18, 18, 18, 0.81) 96%);
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px 0 rgb(255 255 255 / 33%);
    backdrop-filter: blur(15px);

}

.menu-drop>div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 250px;
    padding: 5px;
}

.menu-drop>div>span {
    display: flex;
    align-items: flex-start;
    width: 250px;
}

.menu-drop>div *:hover {
    color: rgb(28, 28, 239);
}

#kids {
    display: flex;
    flex-direction: column;
}

#kids>div {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

/* Toggle switch for kids in menu*/

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 80%;
}

.menu-drop>div span {
    font-size: 18px;
    display: flex;
    gap: 30px;
}

/* .menu-drop>div span:hover{
} */
.menu-drop>div p {
    font-size: 11px;
    margin-left: 40px;
    padding-right: 5px;
}

nav i:hover {
    color: blue;
}

nav p:hover {
    color: blue;
    cursor: pointer;

}

/* header section */

.bg-img{
    background-image: url(./img/header.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
      
}

section{
    padding-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.637) 30%,rgba(0, 0, 0, 0.422), rgba(0, 0, 0, 0.194),transparent);
    padding: 0;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
    padding-top: 250px;
    /* background-image: linear-gradient(to right,rgba(0, 0, 0, 0.637) 30%,rgba(0, 0, 0, 0.422), rgba(0, 0, 0, 0.194),transparent); */
    height: 100vh;
}
/* #watchon{
    display: flex;
    height: 20px;
    background-color: transparent;
    justify-content: flex-end;  
} */
#title{
    color: gold;
    font-size: 18px;
    /* border: 2px solid red; */
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#title>:nth-child(2){
    color: rgba(255, 255, 255, 0.699);
}
#btn button{
    /* padding: 10px; */
}
#btn{
    display: flex;
    gap: 30px;
    align-items: center;
}
#btn>#btn1{
    background-image: linear-gradient(to right,rgb(131, 131, 245) , rgb(47, 47, 217) 90%);
    /* width: 100px;
    height: 50px; */
    /* border: none; */
    font-size: 60px;
   
    /* padding: 10px; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    justify-content: center;
}
#btn>#btn1>i{
    font-size: 19px;
}
#btn>#btn1>p{
    color: white;
}
#btn>#btn2{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #58585893;
    color: white;
    font-size: 18px;
}
#btn i{
    font-size: 35px;
    color: rgb(212, 200, 200);
}
#btn p{
    font-size: 19px;
    color: rgba(210, 200, 200, 0.737);

}
#btn>div{
    display: flex;
    gap: 10px;
    align-items: center;
}


/* Video Card MainBox */
.video-card{

}
.main-box{
    height: 300px;
    display: flex;
    gap: 20px;
    width: 100%;
}
.box{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    /* position: relative; */
    
}
.hide{
    display: none;
    height: 100%;
    width: 100%;
    padding: 5px;
    /* position: relative; */
    border-radius: 6px;
    margin-left: 50px;
    background-image: linear-gradient(black,rgb(46, 43, 43));
}
.hide-up{
    height: 55%;
    width: 100%;
    
}
.hide-up img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.hide-up video{
    height: 100%;
    width: 100%   ;
}
.hide-down{
    width: 100%;
    height: 40%;
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-top: 5px;
    background-image: linear-gradient(to bottom,transparent 1% ,#121b25 50%,#0f283b);

}
.hide-title{
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}
.hide-title>span{
    color: rgb(221, 206, 206);
    font-size: 13px;
    font-weight: 700px;
    
}
.hide-title>button{
    width:fit-content;
    padding: 1px 3px;
    font-size: 8px;
    background-color: transparent;
    border: 1px solid;
    color: rgb(249, 227, 227);
}
.hide-title>p{
    font-size: 9px;
    color: rgba(255, 255, 255, 0.947);
}
.hide-icon{
    display: flex;
    gap: 5px;
    color: white;
    margin-right: 5px;
    font-size: 14px;
}
.hide-btn{
    display: flex;
    gap: 5px;
    align-items: center;
}
.hide-play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hide-btn>p{
    font-size: 8px;
    color: rgb(231, 214, 214);
}
.hide-btn>button{
    width: fit-content;
    height: 25px;
    color: white;
    font-size: 11px;
    border:0;
    background-image: linear-gradient(to right,rgb(57, 57, 123) , rgb(47, 47, 217) 90%);
    border-radius: 5px;
    padding: 5px;
}
.box:hover .hide{
    display: block;
    transform: scale3d(2,1.5,2);
    /* position: absolute; */
    animation: zoom 1s ease;
}

/* @keyframes zoom {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(2,1.5);
    }
  } */

#r1-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/b1cdde5e558e08e2618a68e55868b55e/en/2x3/320x480/test_pic1738221531266.webp);
    
}
#r1-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/215daaad8b43aecc661b124d851822b5/en/2x3/320x480/test_pic1736435194805.webp);
}
#r1-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5a5d9d6ff37416ee75783f81daa2bee9/en/2x3/320x480/test_pic1736832811004_badged_1736917211954.webp);
}
#r1-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5bb08102bd92cefb1085c4db73b2a077/en/2x3/320x480/test_pic1733896726138.webp);
}
#r1-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/dac14e838650a02e46d5fe6c7d303fdd/en/2x3/320x480/test_pic1734772723016.webp);
}
#r1-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/97a46e8e48580eecbf8cfc4bde931d8b/en/2x3/320x480/test_pic1733490221033.webp);
}
#r1-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/1f9b3c333a61d0279cba8560200a3f25/en/2x3/320x480/test_pic1735138944702.webp);
}

#r2-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5a5d9d6ff37416ee75783f81daa2bee9/en/2x3/320x480/test_pic1736832811004_badged_1736917211954.webp);
}
#r2-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/b1cdde5e558e08e2618a68e55868b55e/en/2x3/320x480/test_pic1738221531266.webp);
}
#r2-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/97a46e8e48580eecbf8cfc4bde931d8b/en/2x3/320x480/test_pic1733490221033.webp);
}
#r2-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/700f4588837d9f4fc24cd26592360166/en/2x3/320x480/test_pic1729171699290.webp);
}
#r2-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/ee06069c0bbced779a9c643d9ab83b34/en/2x3/320x480/test_pic1734953091704.webp);
}
#r2-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/07fe6b61a6c3dea88f619e8e5f032b74/en/2x3/320x480/test_pic1728459195876.webp);
}
#r2-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/ca7a124443044bf3c1f8ea52c8b7f9fc/en/2x3/320x480/test_pic1726310683429.webp);
}
#r3-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/877bb73f8914122578d9f4d6a04aa9bf/en/2x3/320x480/test_pic1671005255600.webp);
}
#r3-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/c6382211316cb17d1757d82cf9605e4a/en/2x3/320x480/test_pic1666868994951.webp);
}
#r3-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/8f484e1869cc333bce98594fa2da59e4/en/2x3/320x480/test_pic1665887787418.webp);
}
#r3-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/0930fb169d387f3cd0bdc0f920814a8b/en/2x3/320x480/test_pic1671519673098.webp);
}
#r3-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/026c7e7e57a8526313baab58929e38c7/en/2x3/320x480/test_pic1671773565389_badged_1671773631828.webp);
}
#r3-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/b859d995fb115d47fdc4205fe5118a8d/en/2x3/320x480/test_pic1671719796493_badged_1671784220924.webp);
}
#r3-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5e2c7db00e4122e52855a32bbaaf2697/en/2x3/320x480/test_pic1671607688954.webp);
}
#r4-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/877bb73f8914122578d9f4d6a04aa9bf/en/2x3/320x480/test_pic1671005255600.webp);
}
#r4-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/7e22317b9180457fde940319ac211d60/en/2x3/320x480/2bd90d84676106f16cfa478ff20b5a4b_1280x1920.webp);
}
#r4-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/263122ff620b8e608aedf7269f05d9ae/en/2x3/320x480/test_pic1666161937205.webp);
}
#r4-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/d0c1cc1a9c2fe5a17ce22e690641ba38/en/2x3/320x480/test_pic1664450598486.webp);
}
#r4-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/9d3fc45eba7baa39014108fc3e955060/en/2x3/320x480/eros_now_238d529f7a2aff2d5c3834011ed01fe0.webp);
}
#r4-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/8f484e1869cc333bce98594fa2da59e4/en/2x3/320x480/test_pic1665887787418.webp);
}
#r4-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/7b94d943959cf9b9d22a8f51d76887d8/en/2x3/320x480/test_pic1668685397061_badged_1668685399268.webp);
}
#r5-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/abdc26a3a3f57227265bba96c10a4722/en/2x3/320x480/test_pic1672132200418.webp);
}
#r5-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/bc079768b678b2f440d0c49641300406/en/2x3/320x480/test_pic1671695639043.webp);
}
#r5-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/b859d995fb115d47fdc4205fe5118a8d/en/2x3/320x480/test_pic1671719796493_badged_1671784220924.webp);
}
#r5-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5e2c7db00e4122e52855a32bbaaf2697/en/2x3/320x480/test_pic1671607688954.webp);
}
#r5-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/026c7e7e57a8526313baab58929e38c7/en/2x3/320x480/test_pic1671773565389_badged_1671773631828.webp);
}
#r5-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/b273fe05bb6d54a2a5b5a920ef3a8088/en/2x3/320x480/test_pic1671719598812.webp);
}
#r5-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/17f36bcde067ffede0671cb2ad389ea1/en/2x3/320x480/test_pic1668679869242.webp);
}
#r6-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/08e0a553d7d7a86435b65ad60c7834cf/en/2x3/320x480/35d68173f39a1a90d68eef5635763d29_1280x1920_badged_1671085442185.webp);
}
#r6-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/a0cd7ad8514a9fb725f8fa1aacaadeea/en/2x3/320x480/e6dd2f7168b3dba7b8071b700af5648e_1280x1920_badged_1668245423840.webp);
}
#r6-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/24d385b26be521d223eb548fc86d56cc/en/2x3/320x480/73b573cbc93019e697a57b4301e4aaa0_1280x1920_badged_1671085418230.webp);
}
#r6-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/e6d02d676e07c80426a01e8074db18ce/en/2x3/320x480/2da50a0bc430335c914457371b44774d_1280x1920_badged_1671085455452.webp);
}
#r6-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/0e9945703860334e1476e35145ae4909/en/2x3/320x480/92ff3fa6f5b6c5080bf6a9a7f3120268_1280x1920.webp);
}
#r6-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/448f9063ac17c6f8d46443cf250a5706/en/2x3/320x480/e400a57549ac85cf6763c545353c88c2_1280x1920.webp);
}
#r6-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/3ac6ef72dc06e251ce5735b076a2f8cf/en/2x3/320x480/89b00ad25df0c4917cdfcd087d95b43c_1280x1920.webp);
}
#r7-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/7b1f1ed462239f0bcbb5c7f700fa1e03/en/2x3/320x480/test_pic1671005049629.webp);
}
#r7-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/cbaa2aca6c8bbfd68c0dba8c51dec0de/en/2x3/320x480/test_pic1666180440884_badged_1666765723585.webp);
}
#r7-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5058f5aad02e28a095a503c6fcd732b5/en/2x3/320x480/test_pic1671824859294.webp);
}
#r7-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/ba5d59f46925d0e42e63b01ad3a4dfb1/hi/2x3/320x480/test_pic1662006531840_badged_1662006544417.webp);
}
#r7-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/c4a55a740d7508bad4568dcb7037cd6e/en/2x3/320x480/test_pic1671537025537.webp);
}
#r7-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/1ff39acd284e9759f054b2b204235448/en/2x3/320x480/test_pic1667718863834.webp);
}
#r7-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/db133f97839fb55415cd775b1d68c0fc/en/2x3/320x480/test_pic1667644853038.webp);
}
#r8-c1{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/3607456f6d0afbb1987de4df858dc2a1/en/2x3/320x480/51d6c01e529daaf63ae35ea229a4ea0c_1280x1920.webp);
}
#r8-c2{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/1e065b7c4c66083f451b865017f2f7a8/en/2x3/320x480/ff5a9e49eacef3f4fac30076be3c5dfa_1280x1920.webp);
}
#r8-c3{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/f206d4e020f530215513cbe6ad13e5d7/en/2x3/320x480/1e181873c0d676e992c9c1ed7fbd2b18_1280x1920.webp);
}
#r8-c4{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/6574fa0a788a4908e9e5927cbbfaf378/en/2x3/320x480/8f6b8d2e87dafee76f1a628ae0b9e3bf_1280x1920.webp);
}
#r8-c5{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5ada24a5dc291a52e891513b7d05cb9e/en/2x3/320x480/ba1ed9027b7300f853660d86553e3ca7_1280x1920.webp);
}
#r8-c6{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/c3112c90e163f530657a63af5f8f2203/en/2x3/320x480/48a9373c5e99f7b5a6dc33c194255a16_1280x1920.webp);
}
#r8-c7{
    background-image: url(https://qqcdnpictest.mxplay.com/pic/5862f602e7dda85be73849f74967bd15/en/2x3/320x480/9ee75e2986c633042ad658e1ae0fde26_1280x1920.webp);
}

.movie{
    height: 160px;
    display: flex;
    gap: 15px;
}
.genre{
    width: 23%;
    
}
.genre img{
    width: 100%;
    border-radius: 5px;
}
section>p{
    color: white;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 1100px;
}


/* Footer-1 & Footer-2*/

.footer-sec{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.main-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 10px;
}
.list h3{
    color: white;
}
.list p{
    color: rgba(241, 232, 232, 0.945);
}
.list{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.list>div{
    display: flex;
    flex-direction: column;
}

#disp{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-content: center;
}
.dis{
    width: 30%;
}
.dis h4{
    color: rgba(255, 255, 255, 0.858);
}
.dis p{
    color: rgba(241, 232, 232, 0.945);
}

.expand-btn>span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0056b3;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.expand-btn span:hover{
    color: blue;
}


/* Main Footer */

.footer{
    background-image: linear-gradient(to bottom,transparent 1% ,#121b25 50%,#0f283b);
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 2056px;
}
footer i:hover{
    transform: scale(1.3);
}

.org-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0 10px;
    height: 200px;
    padding-top: 25px;
    margin:0px 40px;
    position: relative;
    z-index: 0;
}

.mx-p{
    height: 80%;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    color: white;
    line-height: 20px;
    font-size: 12px;
}

.mx-img img{
    display: flex;
    align-items: center;
    width: 190px;
    height: 30px;
    background-color: transparent;
}

.mx-icon{
    display: flex;
    align-items: center;
    gap: 16px;
}
.mx-icon>h3{
    color: rgba(179, 179, 179, 0.945);
}
.mx-icon>i{
    font-size: 27px;
    color: rgb(255, 255, 255);
}

.legel, .company{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
    color: white;
    z-index: 1;
}
.company>div{
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-size: 13px;
    color: rgba(241, 232, 232, 0.945);
}
.legel>div{
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-size: 13px;
    color: rgba(241, 232, 232, 0.945);
}

.company p:hover,.legel p:hover {
    color: blue;
    cursor: pointer;

}

.qr{
    height: 100%;
    color: white;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    
}
.qr>div{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.qr-left{
    width: 53%;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    font-size: 13px;
    color: rgba(241, 232, 232, 0.945);
}
.qr-left>div{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.qr-left>div i{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.692);
}
.qr-right>img{
    width: 110px;
}

.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 30px 0px 30px;
    border-top: 1px solid ;
    color: white;
    padding: 5px;
}
.copy p{
    font-size: 13px;
    color: rgba(241, 232, 232, 0.945);
}

.copy-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.copy-right>img{
    width: 80px;
}
